body {
    color: white;
    font-family: Verdana, Arial, Tahoma, sans-serif;
}

button {
    color: #888d6d;
    font-size: larger;
    font-weight: bolder;
    height: 120px;
    width: 100%;

}

.current {
    background-color: ghostwhite;
    color: black;
    font-size: large;
    text-align: center;
}

.highlighted {
    background-color: #888d6d;
    border-color: black;
    color: chartreuse;
}

.name {
    background-color: #888d6d;
    border: solid 2px #6d888d;
    border-radius: 3px;
    margin: 1px;
    padding: 6px;
}
